<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile page</title>
    <link rel="stylesheet" href="/stylesheet/style2.css">
</head>
<body>
    <div class="navbar">
        <h1>inkWell</h1>

        <a href="/home">Home</a>
        <a href="/create">create</a>
        <a href="/mypost">myposts</a>
        <a href="/profile">profile</a>
        <a href="/search">search</a>
        <a href="/logout">Logout</a>
    </div>
    <div class="allpost">
        <% allposts.reverse().forEach((element)=>{%>
           <div class="post">
                <h4>@<%= element.user.username %></h4>
                <% if(element.image) {%>
                    <img src=<%="./images/"+element.image%>>
                <% } %>
                <p><%= element.content %></p>
                <a href="/like/<%= element._id %>">
                    <%= (element.likes.indexOf(user._id)===-1)?"ðŸ¤":"â¤ï¸" %>
                    <%= element.likes.length %>
                </a>
           </div>
        <%})%>
    </div>
</body>
</html>

