<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style2.css">
</head>
<body>
    <div class="logoutbtn">
        <a href="/logout">logout</a>
    </div>
    <div class="profile">
        <h1>Hello, <%=user.name %> </h1>
        <h3>you can create a post here</h3>
        <form action="/post" method="post">
            <textarea name="content" placeholder="write some post here"></textarea>
            <input type="submit" value="Create post">
        </form>
        <h3>These are your Posts </h3>
        <div class="postcontainer">
            <% user.posts.reverse().forEach((element)=>{ %>
                <div class="post">
                    <h4>@<%=user.name %></h4>
                    <p><%=element.content %></p>
                    <p><%= element.likes.length %> likes</p>
                    <a href="/like/<%= element._id %>">
                        <%= (element.likes.indexOf(user._id)===-1)? "like" : "unlike" %>
                    </a>
                    <a href="/edit/<%= element._id %>">edit</a>
                    <a href="/delete/<%= element._id %>">delete</a>
                </div>
                <% }) %>
        </div> 
    </div>
    <div class="allpost">
        <% allposts.reverse().forEach((element)=>{ %>
            <div class="post">
                <h4>@<%= element.user.name %></h4>
                <p><%= element.content %></p>
                <p><%= element.likes.length %> likes</p>
                <a href="/like/<%= element._id %>">
                    <%= (element.likes.indexOf(user._id)===-1)? "like" : "unlike" %>
                </a>
            </div>
        <% }) %>
    </div>
     
</body>
</html>